@import url('./style.css');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-on-background);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --toastify-color-error: hsl(337, 84%, 49%);

  /* variables */

  --color-accent-primary: hsl(237, 100%, 70%);
  --color-accent-primary-light: hsl(237, 100%, 73%);
  --color-accent-secondary: hsl(337, 84%, 49%);
  --color-on-background: hsl(208, 37%, 20%);

  --color-background: hsl(0, 0%, 100%);
  --color-background-highlight: hsl(0, 0%, 96%);

  --color-overlay: hsla(0, 0%, 0%, 0.3);
}

a {
  font-weight: 500;
  color: var(--color-accent-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-accent-primary-light);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-on-background);
  background-color: var(--color-background-highlight);
  cursor: pointer;
  transition: 0.25s all ease;
}

button:hover {
  border-color: var(--color-accent-primary);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.default-button {
  all: initial;
  cursor: pointer;
  height: 24px !important;

  border: none !important;
  outline: none !important;
}

.default-button:hover > * {
    color: var(--color-accent-primary) !important;
}