* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border-spacing: 10px;
    width: 100%;
}

.page {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    display: none;
}

.container {
    width: 80%;
    position: relative;
    margin: 0 auto;
    padding: 7rem 0px 1.5rem 0px;
    gap: 60px;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.top-row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.top-row-container {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.table-head-item {
    text-align: left;
    vertical-align: baseline;
}

.th-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    gap: .25rem;
}

.op {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .25rem;
}

.table-body {
    border-spacing: .25rem;
}

.table-cell {
    vertical-align: baseline;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 2rem;
    margin: 2rem;
    padding: 2rem 4rem;
    border-radius: 1.5rem;
    border: 2px solid #213547;
}

.form-cell {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
}

.form-cell-title {
    font-weight: 700;
    font-size: 1.1rem;
}

.form-cell-input {
    padding: .5rem;
    border-radius: .6rem;
    border: 1px solid #213547;
    outline: none;
    font-size: .9rem;
}

/* delete card */

.delete-card {
    display: flex;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    width: fit-content;
    gap: 1rem;
    z-index: 200;
    padding: 2rem 4rem;
    border-radius: .6rem;
    background-color: #fff;
    display: none;
}

.delete-card-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .25rem;
}

.delete-button {
    border-color: #cc272d !important;
}

.delete-button:hover {
    background-color: hsla(358, 68%, 48%, 0.15);
}

.delete-button-secondary:hover {
    border-color: #cc272d !important;
}

/* switch */

.switch {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: .6rem;
    width: 80px;
    gap: .2rem;
    height: 44px;
    background-color: #f9f9f9;
    transition: 0.25s all ease;
    
}

.switch:hover {
    border: 1px solid #646cff;
}

.switch input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.switch-item-active {
    color: #213547 !important;
}

.switch-item {
    color: #c1c1c1;
}

/* card */

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: .6rem;
    height: 200px;
    background: hsl(0, 0%, 98%);
    transition: 0.25s all ease;
}

.card-bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .25rem;
}

/* Footer */

.footer {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    background-color: hsl(337, 83%, 49%);
    position: relative;
    color: hsl(0, 0%, 98%);
}

.footer > *:not(.footer-overlay) {
    text-align: center;
    max-width: 60%;
}

.footer h1 {
    padding-top: 80px;
}

.footer p {
    font-size: 1.1rem;
    font-weight: 300;
}

.footer-overlay {
    position: absolute;
    top: -75px;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 0 50% 50%;

}

/* Search Bar */

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    border-radius: .6rem;
    border: 1px solid #213547;
    outline: none;
    font-size: .9rem;
}

.search-bar input {
    border: none;
    outline: none;
    font-size: .9rem;
}